// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$header-background: #0d1c10;
$button-text: #fafaf7;
$button-hover: #1c3b21;

@mixin flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;    
}