
$header-background: #0d1c10;
$button-text: #fafaf7;
$button-hover: #1c3b21;
$button-border: #d1b38e;

@mixin flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;    
}
